.container{
  margin-top: 20px;
}

.category{
  border-top: 0.0625rem solid #ededed;
  border-bottom: 0.0625rem solid #ededed;
  overflow: hidden;
  display: flex;
}

.category a{
  padding-top: 14px;
  padding-bottom: 14px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.category a:hover{
  background-color: #EFF2F2;
}
